@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    color: #484848;
}
body {
    min-width: 1280px !important;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #9a9a9a;
    border-radius: 25px;
}
header {
    height: 647px;
    width: 100%;
    background: #EFF0F2;
    display: flex;
    flex-direction: column;
}
.list-element:hover, .button:hover, .collapse:hover {
    cursor: pointer;
}
.collapse:hover .header-menu-list {
    opacity: 1;
}
.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 70px;
    align-items: center;
    padding: 0 70px;
    font-weight: 600;
}
.left-content {
    margin-right: auto;
}
.left-content a {
    color: black;
    text-decoration: none;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-content {
    z-index: 999;
    margin-left: auto;
    background: #fff;
    width: 98px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 23px;
    justify-content: center;
}
.menu-user {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.list-element {
    margin: 0 30px;
    font-weight: 600;
}
.collapse {
    margin-left: 10px;
    margin-right: 10px;
    height: 32px;
    width: 32px;
}
.user-icon {
    margin: 0 5px;
    display: flex;
    align-items: center;
}
.line {
    height: 4px;
    width: 30px;
    background: #484848;
    margin-top: 5px;
    border-radius: 5px;
}
.button {
    background: #484848;
    color: white;
    width: 186px;
    height: 46px;
    padding: 14px 29px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.bottom-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 76px;
}
.header-search-box {
    display: flex;
    background-color: #fff;
    padding: 0 30px;
    border-radius: 35px;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.search-box p {
    margin-top: 16px;
}
input {
    font-family: 'Montserrat', sans-serif;
}
.city-input, .default-input-box {
    outline: none;
    border: none;
    margin-bottom: 10px;
    height: 25px;
}
.city-input:focus, .default-input-box:focus {
    outline: none;
    border: none;
}
.city-input {
    width: 223px;
}
.main-content {
    margin: 80px 65px;
}
.main-content {
    line-height: 50px;
}
.fav:hover {
    cursor: pointer;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.end {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.end h4 {
    margin-left: 10px;
}
.hr-line {
    width: 300px;
    background: black;
    height: 4px;
    border-radius: 5px;
}
.cards {
    display: flex;
    flex-direction: row;
    margin: 64px 0;

}
.fav-line {
    display: flex;
    margin-top: 26px;
    height: 26px;
}
.fav {
    display: flex;
    height: 26px;
    margin-left: auto;
    align-items: center;
}
.star {
    margin: 0 3px;
}
.stars {
    margin-right: auto;
}
.heart {
    margin-left: auto;
}
.card {
    background: #e0e2e6;
    border-radius: 8px;
    height: 340px;
    width: 279px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 19px;
    margin: 0 10px;
}
.ico {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #c2c6cc;
}
.bottom-card {
    margin-top: auto;
}
.banner {
    display: flex;
    justify-content: center;
    width: 1206px;
    height: 395px;
    background: #eff0f2;
    padding: 55px 70px;
    border-radius: 12px;
}
.banner-inner-content {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.banner-inner-content p {
    margin-top: 7px;
    margin-bottom: 55px;
    color: rgba(154, 154, 154, 1);
    font-weight: 500;
}
.stars {
    margin-right: 10px;
}
.end:hover {
    cursor: pointer;
}
.search {
    background: #484848;
    border-radius: 50%;
    padding: 12px;
}
.circle {
    background: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 0 2px;
}
.circles {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.feature-row {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.card h4 {
    height: 10px;
}
.desc h4 {
    padding: 0 15px;
    margin: 0;
}
.desc p {
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
}
.desc .desc-street {
    margin-top: 0;
    margin-bottom: 0px;
}
.outer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}
.featured .cards {
    flex-wrap: wrap;
    justify-content: center;
}
.featured .card {
    width: 357px;
}
.featured-heading {
    margin-left: 120px;
}
.featured-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
}
.featured-icons img {
    margin: 0 10px;
}
.tips p {
    margin-top: 0;
    font-weight: 600;
    color: rgb(154,154,154);
}
.fix-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fix-margin-for-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.platforms {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.platform-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    width: 172px;
    background: #e0e2e6;
    margin-right: 13px;
    padding: 15px 29px;
    border-radius: 6px;
    font-weight: 600;
}
.price {
    font-weight: 600;
    color: #9a9a9a;
}
.platform-button:hover {
    cursor: pointer;
}
.platform-button img {
    margin-right: 18px;
}
.phone-banner-icon {
    margin-left: auto;
}
.platform-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.download-our-app {
    width: 100%;
}
.discover-desc {
    width: 691px;
    font-weight: 400;
    color:rgba(154, 154, 154, 1);
    line-height: 24px;
    margin-top: 68px;
}
.outer-link {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 25px;
}
.discover-more {
    margin-top: 35px;
}
.banner-no-background {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-left-row {
    display: flex;
    flex-direction: column;
}
.flex-right-row {
    width: 382px;
    height: 437px;
    background: #e8eaec;
    border-radius: 10px;
    margin-left: 130px;
}
.flex-mail-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mail-column {
    margin-right: 70px;
}
.mail-us {
    background: #E8EAEC;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 117px;
}
.mail-us-input {
    height: 52px;
    width: 794px;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 26px;
}
.submit-mail-button {
    background: #9A9A9A;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    position: relative;
    left: -52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.submit-mail-button:hover {
    cursor: pointer;
}
footer {
    width: 100%;
    height: 648px;
    background: #EFF0F2;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 72px 80px;
}
.copyright {
    background: #EFF0F2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 42px 80px;
    border-top: 1px solid #E0E2E6;
}
.left-footer-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 382px;
}
.left-footer-content p {
    color:rgba(154, 154, 154, 1);
    margin-bottom: 60px; 
}
.right-footer-content {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.footer-list {
    margin: 0 60px;
}
.footer-list h3 {
    text-transform: uppercase;
    margin-bottom: 40px;
}
.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.social-icons img {
    margin-right: 25px;
}
.social-icons img:hover {
    cursor: pointer;
}
.float-to-the-right {
    margin-left: auto;
}
.copyright-left {
    font-weight: 600;
}
.pointer:hover {
    cursor: pointer;
}
.align-vertical-center {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: underline;
}
.header-menu-list a {
    color: #484848;
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
}
.header-menu-list {
    opacity: 0;
    position: relative;
    top: 7px;
    left: -45px;
    z-index: 1;
    border-radius: 6px;
    margin-top: 10px;
    width: 180px;
    padding: 19px 16px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: .1s;
}
.header-list-hr-line {
    height: 1px;
    border-top: 1px solid #E0E2E6;
    margin: 15px 0;
    width: 150px;
}